<%if flash[:notice]%>
	<div>
	  <%= flash[:notice] %></a>
	</div>
<%end%>

<% if @user %>
<h1>Welcome <%= @user.name %>!</h1>
 	<br>
 	<%= @user.email %>
 	<img src="<%= @user.image %>"> <br>
  <%= link_to "Sign Out", "/signout" %>  
<% end %>
